<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Configuration" version="1.1.0" targetFramework="net462" />
  <package id="Google.Apis" version="1.25.0" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.25.0" targetFramework="net462" />
  <package id="Google.Apis.Compute.v1" version="1.25.0.846" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.25.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net462" />
  <package id="Serilog" version="2.5.0-dev-00817" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Literate" version="2.1.1-dev-00038" targetFramework="net462" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.1-dev-00767" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net462" />
</packages>